OPENAI_API_KEY=
SUPABASE_URL=https://sincfchgifimidssknyu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpbmNmY2hnaWZpbWlkc3Nrbnl1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMjI4MzUsImV4cCI6MjA4OTY5ODgzNX0.PFMV_hlZapEI9zqEPNnziMy8I7xrQBkntV_T84jKJo8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpbmNmY2hnaWZpbWlkc3Nrbnl1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDEyMjgzNSwiZXhwIjoyMDg5Njk4ODM1fQ.AnGI3bHS9_Dai9Ml-NX52i5vv68ia-xa2pvjdGfTQ7k
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
WALRUS_PUBLISHER_URL=https://publisher.walrus-testnet.sui.io/v1/blobs
WALRUS_AGGREGATOR_URL=https://aggregator.walrus-testnet.sui.io/v1/blobs
GIN_MOVE_PACKAGE_ID=
GIN_MOVE_STATE_ID=
GIN_MOVE_ADMIN_CAP_ID=
GIN_SUI_PRIVATE_KEY=erase impulse sport find south together equal wire debate blue width brand
GIN_SIMULATE_SUI=true
SUI_NETWORK=
SUI_RPC_URL=
GIN_API_URL=
NEXT_PUBLIC_GIN_API_URL=
EVE_FRONTIER_WORLD_API_URL=
NEXT_PUBLIC_EVE_FRONTIER_TENANT=utopia
NEXT_PUBLIC_EVE_FRONTIER_ITEM_ID=
