SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

GIN_MOVE_PACKAGE_ID=
GIN_MOVE_STATE_ID=
GIN_MOVE_ADMIN_CAP_ID=
GIN_SUI_PRIVATE_KEY=
GIN_SIMULATE_SUI=false
SUI_NETWORK=testnet
SUI_RPC_URL=https://fullnode.testnet.sui.io

GIN_API_URL=
NEXT_PUBLIC_GIN_API_URL=
NEXT_PUBLIC_SUI_NETWORK=testnet

EVE_FRONTIER_WORLD_API_URL=https://world-api-utopia.uat.pub.evefrontier.com
EVE_FRONTIER_WORLD_API_TOKEN=
NEXT_PUBLIC_EVE_FRONTIER_TENANT=utopia
NEXT_PUBLIC_EVE_FRONTIER_ITEM_ID=
WORLD_PACKAGE_ID=
NEXT_PUBLIC_WORLD_PACKAGE_ID=
VITE_EVE_WORLD_PACKAGE_ID=
NEXT_PUBLIC_GIN_NETWORK_NODE_ID=
GIN_NETWORK_NODE_ID=
NEXT_PUBLIC_EVE_FRONTIER_ENERGY_CONFIG_ID=
EVE_FRONTIER_ENERGY_CONFIG_ID=

NEXT_PUBLIC_SSU_PACKAGE_ID=
NEXT_PUBLIC_SSU_OWNER_CAP_ID=
NEXT_PUBLIC_SSU_CHARACTER_SHARED_ID=
NEXT_PUBLIC_SSU_CHARACTER_SHARED_VERSION=
NEXT_PUBLIC_SSU_SHARED_VERSION=
NEXT_PUBLIC_SSU_EXTENSION_AUTH_TYPE=

GIN_SSU_EXTENSION_PACKAGE_ID=
GIN_SSU_EXTENSION_STATE_ID=

GIN_GROQ_API_KEY=
GIN_LLM_MODEL=qwen-2.5-7b-instruct
